.fa-eye{
    color: #159cb8;
    cursor: pointer;
    font-size: 25px;
}

.fa-times{
    color: red;
    cursor: pointer;
    font-size: 25px;
}

.filtros{
    margin-bottom: -30px;
    margin-top: -20px;
}